@import "~bootstrap";

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #000;
}

.route-container {
  background-color: black;
  position: absolute;
}

.navport {
  padding: 0;
  z-index: 100;

  .img-container {
    margin: 20px 10px;
    width: 20%;
  }
}

.menu {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  padding-top: 200px;
  padding-left: 40px;
  background-color: black;
  //background-image: url("../assets/lines.png");

  a:after {
    content: '';
    display: block;
    width: 110%;
    height: 15px;
    background-color: #333;
    transition: width .3s;
    position: absolute;
    left: -5%;
    bottom: 8px;
    z-index: -1;
  }

  .menu-num {
    position: absolute;
    top: 5px;
    color: #666;
    left: -25px;
  }

  ul {
  }

  li {
    display: table;
    line-height: normal;
    position: relative;
    margin-bottom: 20px
  }

  a {
    font-weight: bold;
    color: #ffffff;
    font-size: 42px;

    &.router-link-exact-active {
      color: #ff6363;

    }

    &:hover {
      text-decoration: none;
      color: #ff6363;

    }
  }
}